numpy
sumy
sumeval
textblob
bert-serving-server
bert-serving-client
tensorflow
#tensorflow-gpu
pytorch
scikit-learn
pytorch_pretrained_bert
texar
elastcisearch
flask_json
flask_cors
flask_compress
pyentrp
spacy
configargparse
torchtext
